:root {
  --color-cream: #f3eae3;
  --color-dark-blue: #1c232b;
  --color-dark-cyan: #3c8067;
  --color-grayish-blue: #6c7289;
  --color-white: #ffffff;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Montserrat", sans-serif;
  background: var(--color-cream);
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.product--image {
  width: 100%;
  border-radius: 1.2rem 1.2rem 0 0;
}

.card {
  margin: 2.8rem 1.6rem;
}

.card__details {
  background: var(--color-white);
  padding: 0 2.5rem 2.5rem 2.5rem;
  border-radius: 0 0 1.2rem 1.2rem;
}

.product__category {
  color: var(--color-grayish-blue);
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.45rem;
  margin: 0;
  padding-top: 2.7rem;
  text-transform: uppercase;
}

.product__name {
  font-family: "Fraunces", serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.1;
  margin: 0;
  padding-top: 1.2rem;
}

.product__desc {
  color: var(--color-grayish-blue);
  font-size: 1.5rem;
  line-height: 1.5;
  margin: 0;
  padding-bottom: 2.3rem;
  padding-top: 2.2rem;
}

.price {
  display: flex;
  padding-bottom: 1.7rem;
}

.card__discount-price {
  color: var(--color-dark-cyan);
  font-family: "Fraunces", serif;
  font-size: 3rem;
  font-weight: 700;
  padding-right: 2rem;
}

.card__price {
  align-self: center;
  color: var(--color-grayish-blue);
  font-size: 1.3rem;
  justify-self: center;
  text-decoration: line-through;
}

.btn {
  background-color: var(--color-dark-cyan);
  border-radius: 0.8rem;
  border: 0;
  color: var(--color-white);
  font-family: inherit;
  font-size: 1.4rem;
  padding-bottom: 1.4rem;
  padding-top: 1.4rem;
  width: 100%;
}

.btn:hover {
  cursor: pointer;
  background-color: #1a4031;
}

.btn img {
  margin-right: 0.9rem;
  transform: translateY(2px);
}

@media screen and (min-width: 768px) {
  body {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    margin: auto;
    right: 50%;
    top: 50%;
  }

  .card {
    width: 60rem;
    display: flex;
    height: 45rem;
  }

  .product--image {
    border-radius: 1.2rem 0 0 1.2rem;
    width: 50%;
    content: url(images/image-product-desktop.jpg);
  }

  .card__details {
    border-radius: 0 1.2rem 1.2rem 0;
    padding: 0 3rem 0 3.1rem;
    text-align: left;
  }

  .product__category {
    padding-top: 3.2rem;
  }

  .product__name {
    padding-top: 2rem;
    line-height: 1;
  }

  .product__desc {
    padding-top: 2.5rem;
    padding-bottom: 2.7rem;
  }

  .price {
    padding-bottom: 2.8rem;
  }
}
